* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

.App {
  width: 600px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  padding: 3rem;
  justify-content: space-evenly;
}

ul {
  list-style: none;
  display: grid;
}

li {
  color: black;
}

a {
  text-decoration: none;
}

.post {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  padding: 2rem;
}

img {
  border-radius: 50%;
  padding-right: 1rem;
}

small {
  font-size: 12px;
}

.user {
  font-weight: 900;
}


form {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  border: 1px solid #ddd;
}

input {
  margin-bottom: 2rem;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid black;
}

.button {
  border: 1px solid black;
  width: 300px;
  margin: 0 auto;
}
